h1{
    text-align: center;
}
div{
    border: 0.1mm solid black;
    padding: 40% 10% 40% 10%;
}
div.gameBoardGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    border: none;
    padding: 0;
    margin: 2% 25% 10% 25%;
}