h1{
    text-align: center;
}
div.pokeGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 1% 30% 0% 30%;
    width: auto;
    height: 100%;
}
.gridObject{
    border: solid black 1px;
    margin:0;
    width: 100%;
    height: auto;
}
p{
    text-align: center;
    font-size: 1.5vw;
    padding-top: 40%;
    padding-bottom: 40%;
}
p:nth-child(-n+4){
    font-weight: bold;
}
img{
    width: 100%;
    height: auto;
}